<div class="page-header">
  <h1>Your Teams</h1>
</div>
<h4><%= link_to('Create Team', new_team_path, method: :get, class: "btn btn-success") %></h4>

<% if @teams.any? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each_with_index do |team, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= link_to team.name, team_path(team) %></td>
            <% if Ability.new(current_user).can?(:manage, team) %>
              <td><%= link_to('Edit', edit_team_path(team), method: :get, class: "btn btn-warning") %></td>
              <td><%= link_to('Delete', team, method: :delete, class: "btn btn-danger") %></td>
            <% else %>
              <td></td>
              <td>
                <%= form_tag team_member_path(team_id: team.id, id: current_user.membership_id(team)), method: :delete do %>
                  <button type="submit" class="btn btn-danger">Leave</button>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <p>You don't have any teams!</p>
<% end %>
