<div class="page-header">
  <h1><%= @team.name %></h1>
</div>
<div class="container-fluid battlemode-content">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h4><%= @member_1.email %></h4>
      <h4><%= @member_1.score_in(@team).points %> points</h4>
      <%= render partial: "tasks/task_progress_bars", locals: { tasks: @member_1.tasks } %>
      <%= render partial: "tasks/taskbar", locals: { tasks: @member_1.tasks, redirection: "team", team_id: @team.id } %>
    </div>

    <% if @member_2 %>
      <div class="col-md-6 col-sm-6">
        <h4><%= @member_2.email %></h4>
        <h4><%= @member_2.score_in(@team).points %> points</h4>
        <%= render partial: "tasks/task_progress_bars", locals: { tasks: @member_2.tasks } %>
        <%= render partial: "tasks/taskbar", locals: { tasks: @member_2.tasks, redirection: "team", team_id: @team.id } %>
      </div>
    <% end %>
  </div>
</div>
