<div class="page-header">
  <h1><%= @team.name %></h1>
</div>
<div class="container-fluid battlemode-content">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <p><%= @member_1.email %></p>
      <%= render partial: "tasks/taskbar", locals: { tasks: @member_1.tasks } %>
    </div>

    <div class="col-md-6 col-sm-6">
      <p><%= @member_2.email %></p>
      <%= render partial: "tasks/taskbar", locals: { tasks: @member_2.tasks } %>
    </div>
  </div>
</div>
