<% if @tasks.any? %>
  <div class="cooldown-graph">
    <% @tasks.each do |task| %>
      <%= content_tag "div", class: "progress-bar", id: "tasks-#{task.id}", data:
          { interval: task.interval, due_date: task.task_due.to_f, task_name: task.name } do %>
          <div class="progress-label">
            <% if task.ready_for_completion? %>
              <%= "#{task.name}: DUE NOW!" %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="task-icon-bar">
    <% @tasks.each do |task| %>
      <div class="task-icon-button">
        <%= form_tag task_path(id: task.id, task: { last_completed_at: DateTime.now, redirect_to_dashboard: true } ), method: :put do %>
          <% if task.task_icon %>
            <button type="submit"><%= image_tag("task_icons/#{task.task_icon.file_name}") %></button>
          <% else %>
            <button type="submit"><%= image_tag("task_icons/default_icon.png") %></button>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>You don't have any tasks!</h1>
<% end %>
