<%= form_for @task do |f| %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>
  <div><%= f.label :description %><br />
  <%= f.text_area :description  %></div>
  <div><%= f.label :interval %><br />
  <%= f.select :interval_number, (1..31) %>
  <%= f.select :interval_type, %w[days weeks months] %>
  </div>
  <%= f.submit %>
<% end %>
