<%= form_for @task do |f| %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>
  <div><%= f.label :description %><br />
  <%= f.text_area :description  %></div>
  <div><%= f.label :interval %><br />
  <%= f.select :interval_number, (1..31) %>
  <%= f.select :interval_type, Task::INTERVAL_TYPES %>
  </div>
  <div>
  <%= f.label "icon" %>
  <% @icons.each do |icon| %>
    <%= image_tag("task_icons/#{icon.file_name}") %>
    <%= f.radio_button :task_icon_id, icon.id %>
  <% end %>
  </div>
  <%= f.submit %>
<% end %>
