<div class="page-header">
  <h1>Your Tasks</h1>
</div>
<h4><%= link_to('Add Task', new_task_path, method: :get, class: "btn btn-success") %></h4>

<% if @tasks.any? %>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Frequency</th>
          <th>Last Completed</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each_with_index do |task, i| %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= task.name %></td>
            <td><%= task.description %></td>
            <td><%= task.interval_description %></td>
            <td><%= task.last_completed_at %></td>
            <td><%= link_to('Edit', edit_task_path(task), method: :get, class: "btn btn-warning") %></td>
            <td><%= link_to('Delete', task, method: :delete, class: "btn btn-danger") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>You don't have any tasks!</p>
<% end %>
